* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  all: unset;
  cursor: pointer;
}
button {
  all: unset;
  cursor: pointer;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bg {
  background-color: black;
  width: 3376px;
  height: 1970px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#base {
  color: white;
  width: 2362px;
  height: 1594px;
  background-image: linear-gradient(90deg, rgb(89, 89, 89), black);
  border: 5px solid white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#top {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  background-color: none;
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.t-left {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 60%;
}
.nav > a {
  font-size: 40px;
  font-family: "Roboto";
  padding-left: 80px;
}
.nav {
  background-color: none;
  width: 100%;
  margin-left: 100px;
}
.t-right {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: none;
}
.t-right > img {
  width: 50px;
  padding-bottom: 10px;
}
.t-right > a {
  /* background-color: aqua; */
  font-size: 40px;
  font-family: "Roboto";
  margin-left: 30px;
  margin-right: 100px;
}
.t-right > button {
  font-size: 40px;
  font-family: "Roboto";
  margin-left: 50px;
  background-color: #ff64a5;
  line-height: 100px;
  border-radius: 20px;
  padding: 1px 30px;
}
#mid {
  width: 95%;
  height: 45%;
  border: 5px solid white;
  border-radius: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-bg {
  width: 100%;
  height: 100%;
  background-color: none;
  background-image: url(../assets/nike-trans.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-bg > img {
  background-color: none;
  height: 190%;
  margin-top: -40px;
  margin-left: 150px;
  z-index: 3;
}
.mid-bg > .text {
  font-family: "Montserrat";
  font-size: 500px;
  font-weight: 600;
  position: relative;
}
.pos1 {
  z-index: 2;
  left: 550px;
}
.pos2 {
  color: #d9d9d9;
  z-index: 3;
  right: 520px;
}
#bot {
  background-color: none;
  width: 95%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #4729ff;
  padding: 20px 60px;
  border-radius: 30px;
}
.cart > button > .text {
  font-family: "Roboto";
  font-size: 50px;
}
.desc {
  width: 700px;
  height: 100%;
  /* margin-top: -30px; */
  /* background-color: #9e9e9e; */
}
.text1 {
  font-family: "Roboto";
  font-size: 50px;
}
.text2 {
  font-family: "Roboto";
  font-size: 37px;
  color: #9e9e9e;
}
